body{
    text-align:left;
    background-color: #c1bec0;
    color: rgb(1, 11, 15);
    font-size: 0.7em;
    font-size: 0.9em;
    margin: 0px;
    
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
