/* Style the top navigation bar */
.header {
    
  padding: 50px;
  text-align: center;
  background: #edbfed3f;
  color: rgb(5, 65, 33);
  font-size: 20px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(7, 7, 7);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3b5d50;
  color: white;
}
