

.menu_bar {
  background-color: #333;
  height: 80px;
  width: 90%;
  display:flex ;
align-items:center;
justify-content: space-between;
padding: 0 5%;
}

.menu_bar ul {
  display: flex;
  list-style-type: none;
}

.menu_bar ul li {
  margin-right: 20px;
  position: relative; /* Ensure dropdown_menu is positioned relative to the li */
}

.dropdown_menu ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #100f10;
}

.dropdown_menu ul li {
  width: 1px;
  padding: 10px;

}

.menu_bar ul li:hover .dropdown_menu ul {
  display: block; /* Show dropdown when hovering over li */
}
